<h1>Напитки</h1>

<div class="drinks_list">
<% @drinks.each do |drink| %>
	<div>
		<div class="drink_item">
			<%= image_tag(drink.image_url, :class => 'drink_image') %>
			
			<p>
				<b><%= drink.title %></b><br/>
				<%= drink.description %>
			</p>
			
			<div class="drink_actions">
				<%= drink.alcohol %> алк. | 
				<!--%= two_digits(drink.price) %> руб. | -->
			    <%= link_to 'Исправить', edit_drink_path(drink) %> |
			    <%= link_to 'Удалить', drink, confirm: 'Are you sure?', method: :delete %> |
				<%= link_to 'Указать место', new_drink_item_path(:drink_id => drink.id) %>
			</div>
			
			<div class="drink_prices">
				<% if drink.drink_items.any? %>
					<span>Цены (руб.):</span>
					<% drink.drink_items.each do |item| %>
						<span> <%= item.place.title %>: <%= item.price %>| </span>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
</div>

<br />

<%= link_to 'Добавить напиток', new_drink_path %>
