<h1>Напитки</h1>

<div class="drinks_list">
<% @drinks.each do |drink| %>
	<div>
		<div class="drink_item">
			<%= image_tag(drink.image_url, :class => 'drink_image') %>
			<p>
				<b><%= drink.title %></b><br/>
				<%= drink.description %>
			</p>
			<div>
				<%= drink.alcohol %> алк. | 
				<%= two_digits(drink.price) %> руб. |
			    <%= link_to 'Исправить', edit_drink_path(drink) %> |
			    <%= link_to 'Удалить', drink, confirm: 'Are you sure?', method: :delete %> |
				<%= button_to 'Указать место', 
							drink_items_path(:drink_id => drink.id, :place_id => 7) %>
			</div>
		</div>
	</div>
<% end %>
</div>

<br />

<%= link_to 'Добавить напиток', new_drink_path %>
