<h1>Listing drink_items</h1>

<table>
  <tr>
    <th>Place</th>
    <th>Drink</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drink_items.each do |drink_item| %>
  <tr>
    <td><%= drink_item.place_id %></td>
    <td><%= drink_item.drink_id %></td>
    <td><%= link_to 'Show', drink_item %></td>
    <td><%= link_to 'Edit', edit_drink_item_path(drink_item) %></td>
    <td><%= link_to 'Destroy', drink_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drink item', new_drink_item_path %>
